@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: rgba(224, 207, 207, 0) ;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 10px 25px -8px #ffffff;
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('Asset/blck.jpeg') no-repeat center center/cover;
    z-index: -1;
}

header ::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
}


header .content {
    position: absolute;
    color: #fff;
    margin-top: 150px;
    padding-left: 70px;    
}

header .content h1 {
    font-size: 28px;
}

header .content p {
    font-size: 11px;
    width: 400px;
    word-break: break-all;
}

header .content .details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

header .content .details h6 {
    color: rgb(255, 255, 255, .8);
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h5 {
    color: rgb(142, 230, 48);
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h4 {
    color: #fff;
    font-size: 10px;
    margin-right: 10px;
}

header .content .details h3 {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 10px;
}

header .content .details h3 span {
    background: yellow;
    color: #000;
    padding: 0px 3px;
    margin: 0px 5px 0px 5px;
    font-weight: 500;
}

header .content .details h3 i {
    margin-right: 5px;
}

header .content .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

header .content .btns a {
    padding: 8px 12px;
    font-size: 15px;
    font-weight: 600;
    background: linear-gradient(90deg, #00bdff, #0079ff);
    border-radius: 5px;
    color: #fff;
    margin-left: 70px;
    text-decoration: none;
    animation: button 1s linear infinite;
}

header .gambar {
    text-align: right; 
    position: absolute;
    z-index: -1;
}

header .image img {
    
    width: 100%; 
    height: 100%; 
}
